<template name="edit">
  <div class='container-fluid'>
    {{#with current_page}}
      <div class=row-fluid>
        <div class=span12>
          {{#isolate}}
            <h1>{{name}}</h1>
          {{/isolate}}
        </div>
      </div>
      <div class=row-fluid>
        <div class="span6 leader">
          {{#isolate}}
            <img src="{{leader}}" />
          {{/isolate}}
        </div>
      </div>
      <div class=row-fluid>
        <div class=span6>
          {{#isolate}}
            {{#markdown}}
              {{{body}}}
            {{/markdown}}
          {{/isolate}}
        </div>
        {{#constant}}
          {{> ace_editor}}
        {{/constant}}
      </div>
    {{/with}}
  </div>
</template>


<template name='ace_editor'>
  <div class='span6' id='editor'></div>
</template>
