<template name="nav">
  <nav class='navbar'>
    <div class='navbar-inner'>
      <div class='container'>
        <a class='btn btn-navbar' data-toggle='collapse' data-target='.nav-collapse'>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </a>

        <a class='brand' href='/'>Loony Bin</a>
        <div class='nav-collapse collapse'>
          <ul class=nav>
            {{#each pages}}
              {{> page_entry}}
            {{/each}}
          </ul>
          {{#if edit_mode}}
            <form class="navbar-form pull-left new-page">
              <div class='input-append'>
                <input type="text" class="span2 name" placeholder='New Page'>
                <button type="submit" class="btn">Add</button>
              </div>
            </form>
          {{/if}}
        </div>
      </div>
    </div>
  </nav>
</template>

<template name='page_entry'>
  <li class="{{active}}"><a class='page' href="/{{name}}">{{name}}</a></li>
  {{#if edit_mode}}
    <li><a class='remove' href="#" title="Remove {{name}}"><i class='icon-remove'></i></a></li>
  {{/if}}
</template>
